
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Poppins:wght@200&display=swap');

@media screen and (minimum-width: 541px) and (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}
@media screen and (max-width:540px) {
    .contenedor{
        flex-direction: column;
    }

    .box{
        padding: 1rem;
    }
    .contenedornoticias{
        flex-direction: column;
    }
    .video{
        padding: 1rem;
    }
    p{
        text-indent: 2px;
        line-height: 85%;
    }
}
@media screen and (min-width:541px) and (max-width:768px) {
    .contenedor{
        flex-direction: column;
    }

    .box{
        padding: 2rem;
    }
    .contenedornoticias{
        flex-direction: column;
    }
    .video{
        padding: 1rem;
    }
    p{
        text-indent: 4px;
        line-height: 100%;
    }
}

a{
    font-family: 'Poppins';
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
}
main{
    margin-top: 0,8rem;
    background-color: #eff5f5;
}
.navbar{
    overflow: visible;
    width: 100%; 
    background-color: #1F8A70;
}
.menu-centrado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar a {
    align-items: center;
    display: block;
    color: #00425a;
    font-family: 'Poppins';
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }

.navbar a:hover {
    background: #eff5f5;
    color: #00425a;
  }


.baner {
    padding-top: 5rem;
    height: 35rem;
    text-align: right;
    align-items: baseline;
    background-image: url('/images/baner2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    border-width: 2px;
    margin-top: 50px;
    padding: 100px 20px;
}
.contenedornoticias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 80px 150px 80px;
    border-width: 2px;
    margin-top: 2rem;
}
h1 {
    font-family: 'Belanosima', cursive;
    letter-spacing: 12px;
    display: inline;
    color: #00425a;
    font-size: 4rem;
    position: bottom;
}

h2 {
    text-shadow: 1px 2px 2px black;
    font-family: 'belanosima';
    font-size: 2rem
}
h3{
    font-family: 'belanosima';
    
}
h6{
    font-family: 'poppins';
}
p{
    font-family: 'poppins';
    letter-spacing: 2px;
    text-indent: 20px;
    line-height: 150%;
}
.pfooter{
    font-family: 'poppins';
}

.pbaner{
    font-size: 1.7rem;
    font-style: italic;
}
form{
    background-color: #eff5f5;
    font-family: arial;
 
}

.contenedorform{
    margin: 2rem;
    padding: 0;
    display: flex;
    place-content: center;
    width: 35rem;
    height: 50rem;
    box-shadow: 4px 4px 8px #fc7300;
    border: 1px solid #fc7300;
    border-style: solid;
    z-index: 10;
}