
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Oswald&family=Shadows+Into+Light&display=swap');
@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}
a{
    font-family: 'arial';
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
}
main{
    margin-top: 10px;
    background-color: #eff5f5;
}
.navbar{
    overflow: visible;
    width: 100%; 
    background-color: #1F8A70;
}
.navbar a {
    align-items: center;
    display: block;
    color: #00425a;
    text-align: center;
    padding: 14px 16px;
  }
.navbar a:hover {
    background: #eff5f5;
    color: #00425a;
  }

.menu-centrado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.baner {
   padding-top: 50px;
    height: 500px;
    text-align: right;
    background-image: url('/images/baner31.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}

.blur{
    filter: blur(1.5px);
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    padding: 100px 80px 100px 20px;
    border-width: 2px;
    margin-top: 50px;
}
.contenedornoticias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 80px 150px 80px;
    border-width: 2px;
    margin-top: 50px;
}
h1 {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 12px;
    display: inline;
    color: #00425a;
}

h2 {
    text-shadow: 1px 2px 2px black;
    font-family: 'oswald';
}
h3{
    font-family: 'oswald';
    
}
h6{
    font-family: 'arial';
}
p{
    font-family: 'arial';
    letter-spacing: 2px;
}
.pfooter{
    font-family: 'arial';
}

p{
    text-indent: 20px;
    line-height: 150%;
}
form{
    background-color: #eff5f5;
    font-family: arial;
}
.borde{
    border-style: solid;
    border-width: 10px;
    border-color: #fc7300;
    border-radius: 10px;
}